<% content_for :body do %>
<div class="header">
    <div class="logo"><a href="#"></a></div>
    <div class="menu">
        <ul>
            <li><a href="#">Become an Instructor</a></li>
            <li><a href="#"  data-toggle="modal" data-target="#myModal">Login</a></li>
            <li><a href="#"  data-toggle="modal" data-target="#myModal1">Sign Up</a></li>
        </ul>
        <div class="hide-desktop">
            <h4>Categories</h4>
            <ul>
                <li><a href="#"><i class="fa fa-file-code-o"></i> Development</a></li>
                <li><a href="#"><i class="fa fa-briefcase"></i> Business</a></li>
                <li><a href="#"><i class="fa fa-desktop"></i> IT & Software</a></li>
                <li><a href="#"><i class="fa fa-clipboard"></i> Office Productivity</a></li>
                <li><a href="#"><i class="fa fa-list-alt"></i> Personal Development</a></li>
                <li><a href="#"><i class="fa fa-object-group"></i> Design</a></li>
                <li><a href="#"><i class="fa fa-bullseye"></i> Marketing</a></li>
                <li><a href="#"><i class="fa fa-balance-scale"></i> Lifestyle</a></li>
                <li><a href="#"><i class="fa fa-camera-retro"></i> Photography</a></li>
                <li><a href="#"><i class="fa fa-heartbeat"></i> Health & Fitness</a></li>
                <li><a href="#"><i class="fa fa-puzzle-piece"></i> Teacher Training</a></li>
                <li><a href="#"><i class="fa fa-music"></i> Music</a></li>
                <li><a href="#"><i class="fa fa-sun-o"></i> Academics</a></li>
                <li><a href="#"><i class="fa fa-globe"></i> Language</a></li>
                <li><a href="#"><i class="fa fa-file-text-o"></i> Test Prep</a></li>
            </ul>
        </div>
        
    </div>
    <div class="right-mobile hide-desktop">
        <div class="a-cart"><i class="fa fa-shopping-cart"></i> <span>1</span></div>
        <a href="index.html" class="a-search"><i class="fa fa-search"></i></a>
        <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
    </div>
    <div class="back-slidemenu"></div>

</div>



<!-- Modal signin-->
<div class="modal fade model-login" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <input type="text" name="" placeholder="Email" class="form-control input-lg">
            </div>
            <div class="form-group">
                <input type="text" name="" placeholder="Password" class="form-control input-lg">
            </div>
            <div class="form-group text-right"><a href="#">Forgot Password ?</a></div>
            <div class="form-group">
                <button class="btn btn-success btn-lg btn-block">Login</button>
            </div>
            <p class="text-center">OR - Login with social accounts</p>
            <div class="login-with form-group">
                <button class="btn btn-lg btn-block btn-facebook"><i class="fa fa-facebook"></i> Login with Facebook</button>
                <button class="btn btn-lg btn-block btn-google"><i class="fa fa-google-plus"></i>  Login with Facebook</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


 <!-- Modal signup-->
<div class="modal fade model-login" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign up and start learning!</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <input type="text" name="" placeholder="Full Name" class="form-control input-lg">
            </div>
            <div class="form-group">
                <input type="text" name="" placeholder="Email" class="form-control input-lg">
            </div>
            <div class="form-group">
                <input type="text" name="" placeholder="Password" class="form-control input-lg">
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-lg btn-block">Sign Up</button>
            </div>
            
        </form>
      </div>
    </div>
  </div>
</div>

<div class="banner bg-cover" style="background-image: url('assets/bg-home.jpg')">
    <div class="text-banner">
        <h2>What course will your life take?</h2>
        <h3>Own your future by learning new skills online</h3>
        <div class="search-main">
            <input type="text" class="form-control input-lg" placeholder="Enter a keyword">
            <button class="btn btn-primary btn-lg">Search</button>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <ul class="row list-course">
            <li class="col-sm-4 col-lg-3">
                <div class="li-course">
                    <img src="assets/img.jpg">
                    <div class="text-li-course">
                        <h4>The Ultimate Python Programming Tutorial </h4>
                        By <a href="#">Infinite Skills</a>
                        <div class="star-review">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i> 
                            (155)
                        </div>
                        <div class="price">$50</div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4 col-lg-3">
                <div class="li-course">
                    <img src="assets/img.jpg">
                    <div class="text-li-course">
                        <h4>The Ultimate Python Programming Tutorial </h4>
                        By <a href="#">Infinite Skills</a>
                        <div class="star-review">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i> 
                            (155)
                        </div>
                        <div class="price">Free</div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4 col-lg-3">
                <div class="li-course">
                    <img src="assets/img.jpg">
                    <div class="text-li-course">
                        <h4>The Ultimate Python Programming Tutorial </h4>
                        By <a href="#">Infinite Skills</a>
                        <div class="star-review">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i> 
                            (155)
                        </div>
                        <div class="price">$50</div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4 col-lg-3">
                <div class="li-course">
                    <img src="assets/img.jpg">
                    <div class="text-li-course">
                        <h4>The Ultimate Python Programming Tutorial </h4>
                        By <a href="#">Infinite Skills</a>
                        <div class="star-review">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i> 
                            (155)
                        </div>
                        <div class="price">Free</div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4 col-lg-3">
                <div class="li-course">
                    <img src="assets/img.jpg">
                    <div class="text-li-course">
                        <h4>The Ultimate Python Programming Tutorial </h4>
                        By <a href="#">Infinite Skills</a>
                        <div class="star-review">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i> 
                            (155)
                        </div>
                        <div class="price">$50</div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4 col-lg-3">
                <div class="li-course">
                    <img src="assets/img.jpg">
                    <div class="text-li-course">
                        <h4>The Ultimate Python Programming Tutorial </h4>
                        By <a href="#">Infinite Skills</a>
                        <div class="star-review">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i> 
                            (155)
                        </div>
                        <div class="price">Free</div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4 col-lg-3">
                <div class="li-course">
                    <img src="assets/img.jpg">
                    <div class="text-li-course">
                        <h4>The Ultimate Python Programming Tutorial </h4>
                        By <a href="#">Infinite Skills</a>
                        <div class="star-review">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i> 
                            (155)
                        </div>
                        <div class="price">$50</div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4 col-lg-3">
                <div class="li-course">
                    <img src="assets/img.jpg">
                    <div class="text-li-course">
                        <h4>The Ultimate Python Programming Tutorial </h4>
                        By <a href="#">Infinite Skills</a>
                        <div class="star-review">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i> 
                            (155)
                        </div>
                        <div class="price">Free</div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4 col-lg-3">
                <div class="li-course">
                    <img src="assets/img.jpg">
                    <div class="text-li-course">
                        <h4>The Ultimate Python Programming Tutorial </h4>
                        By <a href="#">Infinite Skills</a>
                        <div class="star-review">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i> 
                            (155)
                        </div>
                        <div class="price">$50</div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4 col-lg-3">
                <div class="li-course">
                    <img src="assets/img.jpg">
                    <div class="text-li-course">
                        <h4>The Ultimate Python Programming Tutorial </h4>
                        By <a href="#">Infinite Skills</a>
                        <div class="star-review">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i> 
                            (155)
                        </div>
                        <div class="price">Free</div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4 col-lg-3">
                <div class="li-course">
                    <img src="assets/img.jpg">
                    <div class="text-li-course">
                        <h4>The Ultimate Python Programming Tutorial </h4>
                        By <a href="#">Infinite Skills</a>
                        <div class="star-review">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i> 
                            (155)
                        </div>
                        <div class="price">$50</div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4 col-lg-3">
                <div class="li-course">
                    <img src="assets/img.jpg">
                    <div class="text-li-course">
                        <h4>The Ultimate Python Programming Tutorial </h4>
                        By <a href="#">Infinite Skills</a>
                        <div class="star-review">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i> 
                            (155)
                        </div>
                        <div class="price">Free</div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="bottom-course"><a href="#" class="btn btn-success btn-lg">All courses</a></div>
    </div>
</div>
<div class="footer">
    Copyright © 2016 Course Online, Inc.
</div>
<% end %>